@using DataLayer.Models
@model (User, List<Game>, List<Genre>, List<Platform>)

<div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="~/img/Avatars/avatar3.png" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">@Model.Item1.FirstName @Model.Item1.Age</h2>
        @foreach (var game in Model.Item2)
        {
            <h3 class="card-text">@game.Name</h3>
        }
        @foreach (var genre in Model.Item3)
        {
            <h3 class="card-text">@genre.Name</h3>
        }
        @foreach (var platform in Model.Item4)
        {
            <h3 class="card-text">@platform.Name</h3>
        }
        <h3 class="card-text"></h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>