@model List<LightProfile>
@{
    ViewData["Title"] = "Home Page";
}
<div class="div-group">
    <div class="w-100 text-center"><img style="height:45vh;" src="~/img/Border/Sign2.png" /></div>
    <div class="vw-100 margin-top-60 position-absolute display-flex justify-content-center">
        <img src="~/img/Border/Frame.png" class="home-border" />
        @foreach (var item in Model)
        {
            <div class="mx-1">
                <div class="cardheader ">
                    <div class="text-center">
                        @if (User.Identity.Name != null)
                        {
                            <a asp-controller="Profile" asp-action="Index" asp-route-profile="@item.User.NickName" class="card-link">
                                <h6 class=" card-title color-black"><strong>@item.User.NickName</strong></h6>
                                <img class="img-game home-avatars" src="@Url.Content(item.User.ImgUrl)" alt="Card image cap">
                            </a>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" class="card-link">
                                <h6 class=" card-title color-black"><strong>@item.User.NickName</strong></h6>
                                <img class="img-game home-avatars" src="@Url.Content(item.User.ImgUrl)" alt="Card image cap">
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>