@using DataLayer.Models
@model DatingSite.Models.ProfileViewModel

<div class="container h-100">
    <div class="card mx-auto card-properties">
        <div class="cardheader">
            <img class="cardimg" src="@Url.Content(Model.User.ImgUrl)" alt="Card image cap">
            <div class="card-body profile-info">
                <h2 class="card-title">@Model.User.NickName, @Model.User.Age</h2>
                <h4 class="card-subtitle">@Model.User.FirstName @Model.User.LastName</h4>
                <h4 class="card-subtitle">@Model.User.Nationality.Name <img src="~/img/Countries-Icon/@(@Model.User.Nationality.Name).png" style="width: 20px; height:20px;" /></h4>
                <h3 class="card-text"></h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="ChangeGGP" asp-action="Index" class="card-link">Preferences</a>
            </div>

        </div>
        <ul class="list-group list-group-flush">
            @if (Model.Score.HasValue)
            {
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Score</h5>

                <div style="width:30%; display:inline-block;">
                    <h1>@Model.Score</h1>

                </div>

            </li>
            }
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Games</h5>
                <div class="player-info-items">
                    @foreach (var game in Model.Games)
                    {
                    <div class="player-info">
                        @(game.Name + " ")
                        <img class="img-game" src="~/img/Game/@(game.Name).jpg" />
                    </div>
                    }
                </div>
            </li>
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Genres</h5>
                <div class="player-info-items">
                    @foreach (var genre in Model.Genres)
                    {
                    <div class="player-info">
                        @(genre.Name + " ")
                        <img class="img-genre" src="~/img/Genre/@(genre.Name).png" />
                    </div>
                    }
                </div>
            </li>
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Platforms</h5>
                <div class="player-info-items">
                    @foreach (var platform in Model.Platforms)
                    {
                    <div class="player-info">
                        @(platform.Name + " ")
                        <img class="img-platform" src="~/img/Platform/@(platform.Name).png" />
                    </div>
                    }
                </div>
            </li>
            @{if (Model.User.Mail.Equals(User.Identity.Name))
                {
                <li class="list-group-item text-center">
                    <h5 id = "VisitorTitle"class="list-group-item">Latest Vistors</h5>
                    <div class="player-info-items" id="Visits">
                    <div class="player-info w-100 flexdirectionrow" id="visitDiv"></div>
                    </div>
                </li>
                    }
                }
        </ul>
        <div class="card-body player-info-items">
            <a asp-controller="Profile" asp-action="Index" asp-route-profile="@Model.User.NickName" class="card-link">
                Profile

            </a>
            <a asp-controller="Profile" asp-action="Index" class="card-link">Match</a>
        </div>
        <div>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
              $.ajax({
                url: "/Api/Visitor/Visit",
                  type: "Post",
                  data: JSON.stringify(["@Model.User.Mail"]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var i = 0;
                
                    $.each(data, function () {
                        console.log(data)
                        $("#visitDiv").append("<div class=\" player-info\">" + data[i].name +
                            "<img  class=\"img-platform\" src=\"" + data[i].img +"\"/></div > ");

                        i++;
                    });
                    $.each
                },
                error: function () { bootbox.alert("Something went wrong, RIP"); }
            });
        });
    </script>
}