@using DataLayer.Models
@model DatingSite.Models.ProfileViewModel

<div class="container card-properties h-100 w-50 profileMain">
    <div class="col backgroundFrosty profile-border align-items-center">
        <div class="cardheader row">
            <img class="cardimg mg-1 padding-0 img-fluid in-card-border" src="@Url.Content(Model.User.ImgUrl)">
            <div class="card-body profile-info">

                <h1 class="card-title mt-n4">@Model.User.NickName</h1>
                <h4 class="card-subtitle">@Model.User.FirstName @Model.User.LastName @Model.User.Age</h4>
                <h4 class="card-subtitle">@Model.User.Nationality.Name <img src="~/img/Countries-Icon/@(@Model.User.Nationality.Name).png" style="width: 20px; height:20px;" /></h4>
                <h6 class="card-subtitle">Gaming personality: @Model.User.Personality.Description  </h6>
                @{if (Model.User.Mail.Equals(User.Identity.Name))
                    {
                        <a asp-controller="ChangeGGP" asp-action="Index" class="card-link"><img id="edit-profile-svg" src="~/img/Icons/pencil.svg" />Edit Preferences</a>
                    }
                }
                @if (!Model.User.Mail.Equals(User.Identity.Name))
                {
                    <li class="pd-top-05">
                        <div>
                            <form asp-action="FriendRequest" asp-controller="Friends" method="post">
                                <input type="hidden" name=receiverId value="@Model.User.UserId" />
                                <input type="hidden" name=senderId value="@ViewBag.currentUser" />
                                <input type="submit" value="Add Friend" class="btn btn-primary button-profile-border" data-toggle="modal" data-target="#exampleModal" />
                            </form>
                        </div>
                    </li>
                }
            </div>
        </div>
        <ul class="list-group mx-auto mg-1 ">
            @if (Model.Score.HasValue)
            {
                <li class="becomeTrans list-group mg-1 mx-auto in-card-border">
                    <h5 class="list-group-item profile-header backgroundFrosty">Score</h5>
                    <div class="list-group-item backgroundFrosty">
                        <h1>@Model.Score/10</h1>
                        <h6>@Model.ScoreDescription</h6>
                    </div>
                </li>
            }

            <li class="list-group mx-auto mg-1 in-card-border w-100">
                <h5 class="list-group-item  backgroundFrosty profile-header">Games</h5>
                <div class="list-group-item backgroundFrosty d-flex">
                    @foreach (var game in Model.Games)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col p-1 m-1">
                                    <img class="img-fluid in-card-border max-width40" src="~/img/Game/@(game.Name).jpg" />
                                    <h6 class="text-center">@(game.Name)</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </li>
            <li class="list-group mx-auto mg-1 in-card-border w-100">
                <h5 class="list-group-item  backgroundFrosty profile-header">Genres</h5>
                <div class="list-group-item backgroundFrosty d-flex">
                    @foreach (var genre in Model.Genres)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col p-1 m-1">
                                    <img class="mx-auto d-block img-genre " src="~/img/Genre/@(genre.Name).png" />
                                    <h6 class="text-center">@(genre.Name)</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </li>
            <li class="list-group mx-auto mg-1 in-card-border w-100">
                <h5 class="list-group-item backgroundFrosty profile-header">Platforms</h5>
                <div class="list-group-item backgroundFrosty d-flex">
                    @foreach (var platform in Model.Platforms)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col  p-1 m-1 ">
                                    <img class="mx-auto d-block img-genre" src="~/img/Platform/@(platform.Name).png" />
                                    <h6 class="text-center">@(platform.Name)</h6>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </li>
            @{if (Model.User.Mail.Equals(User.Identity.Name))
                {
                    <li class="list-group mx-auto mg-1 in-card-border w-100">
                        <h5 id="VisitorTitle" class="list-group-item backgroundFrosty profile-header">Latest Vistors</h5>
                        <div class="list-group-item backgroundFrosty d-flex" id="Visits">
                            <div id="visitDiv" class="container d-flex">
                            </div>
                        </div>
                    </li>
                }
            }
            <li class="list-group mx-auto mg-1 in-card-border w-100">
                <h5 id="PostsTitle" class="list-group-item profile-header backgroundFrosty">Posts</h5>
                <div>
                    <div>
                        <div>
                            <div class="form-group w-100">
                                <div class="form-group">
                                    <textarea rows="5" size="30" id="sendPostTextArea" maxlength="140" class="form-control" placeholder="Write @Model.User.NickName a message..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary button-profile-border mt-n2 ml-1 mb-1" id="btnSendMessage">Send Message</button>
                            @foreach (var post in Model.Posts)
                            {
                                <div class="card mt-2">
                                    <div class="card-body text-left">
                                        <div class="col">
                                            <div class="row d-flex align-items-center">
                                                <img class="img-platform rounded mr-2" src="@Url.Content(post.Sender.ImgUrl)" />
                                                <h5 class="card-title mt-1">@post.Sender.NickName</h5>
                                            </div>
                                        </div>
                                        <p class="card-text mt-1">@post.Content</p>
                                        <h6 class="text-muted mt-n3">@post.TimeStamp.ToShortDateString()</h6>
                                        @if (post.Receiver.Mail.Equals(User.Identity.Name))
                                        {
                                            @Html.ActionLink("Delete", "DeletePost", "Profile", new { id = post.PostId }, new { @class = "btn btn-danger btn-sm ", id = "removePostBtn" });
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        @if (Model.User.Mail.Equals(User.Identity.Name))
        {
            <div class="card-body player-info-items">
                <form asp-action="SerializeProfile" asp-controller="Profile">
                    <input type="submit" value="Serialize your profile" class="btn button-profile-border" data-toggle="modal" data-target="#SerializeModal" />
                </form>
            </div>
        }
        <!-- Modal for adding friend -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Friend request</h2>
                    </div>
                    <div class="modal-body">
                        <p class="text-success">User added!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for serializing your data -->
    <div class="modal fade" id="SerializeModal" tabindex="-1" role="dialog" aria-labelledby="SerializeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="SerializeModalLabel">Serialize</h2>
                </div>
                <div class="modal-body">
                    <p class="text-success">Serialize Succeded!</p>
                    <p class="text-success">Saved to your desktop!</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
        {
    <script type="text/javascript">

        $(function () {
            $('#btnSendMessage').click(function() {
                var content = $('#sendPostTextArea').val();
                var reciever = '@Model.User.Mail';
                $.post("../API/Post/Post?reciever=" + reciever + "&content=" + content,
                    function() {
                        alert("Message sent!");
                        location.reload();
                    });
            });
            $("#removePostBtn").on("click", function () {
                var answer = confirm("Are you sure you want to removed this post? It cannot be recovered once removed.");
                if (!answer) {
                    alert("The action was canceled");
                    event.preventDefault();
                    location.reload();
                }
                else {
                    alert("The post was removed.");
                    location.reload();
                };
            });
            $("#serializeBtn").on("click", function () {

                alert("Profile was serialized to your My Documents folder.");
                location.reload();
            });
            $.ajax({
                url: "/Api/Visitor/Visit",
                  type: "Post",
                  data: JSON.stringify(["@Model.User.Mail"]),
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    var i = 0;
                    $.each(data, function () {

                        $("#visitDiv").append("<div class=\"container\">" +
                            "<div class=\"row\">" +
                            "<div class=\"col p-1 m-1\">" +
                            "<img class=\"mx-auto d-block img-game\" src=\"" + data[i].img + "\" />" +
                            "<h6 class=\"text-center\">" + data[i].name + "</h6>" +
                            "</div>" +
                            "</div>" +
                            "</div>");
                        i++;
                    });
                    $.each
                },
                error: function() { bootbox.alert("Something went wrong, RIP"); }
                });
        });
    </script>
}