@using DataLayer.Models
@model DatingSite.Models.ProfileViewModel

<div class="container h-100">
    <div class="card mx-auto card-properties">
        <div class="cardheader">
            <img class="cardimg" src="@Url.Content(Model.User.ImgUrl)" alt="Card image cap">
            <div class="card-body profile-info">
                <h2 class="card-title">@Model.User.NickName, @Model.User.Age</h2>
                <h4 class="card-subtitle">@Model.User.FirstName @Model.User.LastName</h4>
                <h4 class="card-subtitle">@Model.User.Nationality.Name <img src="~/img/Countries-Icon/@(@Model.User.Nationality.Name).png" style="width: 20px; height:20px;" /></h4>
                <h3 class="card-text"></h3>
                <h6 class="card-subtitle">Gaming personality: @Model.User.Personality.Description  </h6>
                <a asp-controller="ChangeGGP" asp-action="Index" class="card-link"><img src="~/img/Icons/pencil.svg" style="width: 15px; height:15px;" />Edit Preferences</a>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            @if (Model.Score.HasValue)
            {
                <li class="list-group-item text-center">
                    <h5 class="list-group-item">Score</h5>

                    <div style="width:30%; display:inline-block;">
                        <h1>@Model.Score</h1>
                    </div>
                </li>
            }
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Games</h5>
                <div class="player-info-items">
                    @foreach (var game in Model.Games)
                    {
                        <div class="player-info">
                            @(game.Name + " ")
                            <img class="img-game" src="~/img/Game/@(game.Name).jpg" />
                        </div>
                    }
                </div>
            </li>
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Genres</h5>
                <div class="player-info-items">
                    @foreach (var genre in Model.Genres)
                    {
                        <div class="player-info">
                            @(genre.Name + " ")
                            <img class="img-genre" src="~/img/Genre/@(genre.Name).png" />
                        </div>
                    }
                </div>
            </li>
            <li class="list-group-item text-center">
                <h5 class="list-group-item">Platforms</h5>
                <div class="player-info-items">
                    @foreach (var platform in Model.Platforms)
                    {
                        <div class="player-info">
                            @(platform.Name + " ")
                            <img class="img-platform" src="~/img/Platform/@(platform.Name).png" />
                        </div>
                    }
                </div>
            </li>
            @{if (Model.User.Mail.Equals(User.Identity.Name))
                {
                    <li class="list-group-item text-center">
                        <h5 id="VisitorTitle" class="list-group-item">Latest Vistors</h5>
                        <div class="player-info-items" id="Visits">
                            <div class="player-info w-100 flexdirectionrow" id="visitDiv"></div>
                        </div>
                    </li>
                }
            }
            <li class="list-group-item text-center">
                <h5 id="PostsTitle" class="list-group-item">Posts</h5>
                <div class="player-info-items">
                    <div>
                        <h3>Write something</h3>
                        <div class="row">
                            <div class="form-group">
                                <div class="form-group required-field-block">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                                    <textarea rows="5" size="30" id="sendPostTextArea" value="" class="form-control" placeholder="Write @Model.User.NickName a message..."></textarea>
                                    <div class="required-icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnSendMessage">Send Message</button>
                            </div>
                        </div>
                        <div class="player-info-items">
                            @foreach (var post in Model.Posts)
                            {
                                <div class="player-info">
                                    @if (post.Receiver.Mail.Equals(User.Identity.Name))
                                    {
                                        @Html.ActionLink("Delete", "DeletePost", "Profile", new { id = post.PostId }, new { @class = "btn btn-danger btn-sm", id = "removePostBtn" });
                                    }
                                    <hr />
                                    <a href="@Url.Action("Index", "Profile", new { profile = @post.Sender.NickName })">
                                        @*<h3>From: @post.Sender.Firstname @post.Sender.Lastname</h3>*@
                                        @(post.Sender.NickName + " ")
                                        <img class="img-platform" src="@Url.Content(post.Sender.ImgUrl)" />
                                    </a>
                                    @(post.TimeStamp)
                                    @(post.Content)
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <div class="player-info-items" id="Posts">
                        <div class="player-info w-100 flexdirectionrow" id="postsDiv"></div>
                    </div>
                </div>
            </li>
        </ul>

        @if (!Model.User.Mail.Equals(User.Identity.Name))
        {
            <div class="card-body player-info-items">
                <form asp-action="AddFriend" asp-controller="Friends" method="post">
                    <input type="hidden" name=receiverId value="@Model.User.UserId" />
                    <input type="hidden" name=senderId value="@ViewBag.currentUser" />
                    <input type="submit" value="Add Friend" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" />
                </form>
            </div>
        }

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Friend request</h2>
                    </div>
                    <div class="modal-body">
                        <p class="text-success">User added!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#btnSendMessage').click(function () {
                var content = $('#sendPostTextArea').val();
                var reciever = '@Model.User.Mail';
                $.post("../API/Post/Post?reciever=" + reciever + "&content=" + content,
                    function () {
                        alert("Message sent!");
                        location.reload();
                    });
            });
        });

        $(function () {
            $("#removePostBtn").on("click", function () {
                var answer = confirm("Do you want to remove this post?");
                if (!answer) {
                    alert("The post was not removed.");
                    event.preventDefault();
                    location.reload();
                }
                else {
                    alert("The post was removed.");
                    location.reload();
                }
            });
        });

        $(document).ready(function () {
              $.ajax({
                url: "/Api/Visitor/Visit",
                  type: "Post",
                  data: JSON.stringify(["@Model.User.Mail"]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var i = 0;

                    $.each(data, function () {
                        console.log(data)
                        $("#visitDiv").append("<div class=\" player-info\">" + data[i].name +
                            "<img  class=\"img-platform\" src=\"" + data[i].img +"\" /></div > ");

                        i++;
                    });
                    $.each
                },
                error: function () { bootbox.alert("Something went wrong, RIP"); }
            });
        });
        @*$(document).ready(function () {
              $.ajax({
                url: "/Api/Post/Posts",
                  type: "Post",
                  data: JSON.stringify(["@Model.User.Mail"]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var i = 0;

                    $.each(data, function () {
                        console.log(data)
                        $("#postsDiv").append("<div class=\" player-info\">Sender: " + data[i].sender + " Date: "+ data[i].date +
                            "<p>" + data[i].content + "</p></div > " );
                        i++;
                    });
                    $.each
                },
                error: function () { bootbox.alert("Something went wrong, RIP"); }
            });
        });*@
    </script>
}