@model IEnumerable<DataLayer.Models.Friend>

@{
    ViewData["Title"] = "Friends";
}

<div class="container">
    <h1>Friends</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Nickname
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Profile" asp-action="Index" asp-route-profile="@item.Receiver.NickName" class="card-link">
                            @Html.DisplayFor(modelItem => item.Receiver.NickName)
                        </a>
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FriendId">@Html.DisplayFor(modelItem => item.Category.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>