@model IEnumerable<DataLayer.Models.Friend>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <form method="get" asp-action="Search" asp-controller="Search">
        <input type="search" name="name" value="Search" />
        <input type="submit" name="name" class="btn btn-primary" />
    </form>

    <h1>Friends</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver.FirstName)
                        @Html.DisplayFor(modelItem => item.Receiver.LastName)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FriendId">@Html.DisplayFor(modelItem => item.Category.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>