@model IEnumerable<DataLayer.Models.Friend>

@{
    ViewData["Title"] = "Friends";
}

<div class="container card-properties h-100 w-50 profileMain">
    <div class="col backgroundFrosty profile-border align-content-center min-vh-100">
        <h1>Friends</h1>
        <table class="table table-hover table-responsive-sm">
            <thead class=" profile-header backgroundFrosty in-card-border">
                <tr class="table">
                    <th class="margin-container">
                        Nickname
                    </th>
                    <th class="margin-container">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th class="margin-container">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="margin-container">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class=" profile-header backgroundFrosty in-card-border justify-content-center">
                        <td>
                            <a asp-controller="Profile" asp-action="Index" asp-route-profile="@item.Receiver.NickName" class="card-link">
                                @Html.DisplayFor(modelItem => item.Receiver.NickName)
                            </a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FriendId">@Html.DisplayFor(modelItem => item.Category.Name)</a>
                        </td>
                        <td>
                            @item.Status.Description
                        </td>
                        <td>
                            @if (item.Status.Description.Equals("Pending"))
                            {
                                <div class="btn-group">
                                    <form asp-action="AnswerRequest" asp-controller="Friends" method="post" class="mr-1">
                                        <input type="hidden" name=senderId value="@item.SenderId" />
                                        <input type="hidden" name=receiverId value="@item.ReceiverId" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-check-circle"></i></button>
                                    </form>
                                    <form asp-action="DenyRequest" asp-controller="Friends" method="post">
                                        <input type="hidden" name=friendId value="@item.FriendId" />
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-times-circle"></i></button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <form asp-action="RemoveFriend" asp-controller="Friends" method="post">
                                    <input type="hidden" name=senderId value="@item.SenderId" />
                                    <input type="hidden" name=receiverId value="@item.ReceiverId" />
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-times-circle"></i></button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>